<h1>Bem Vindo</h1>
<div class="card">
    <div class="card-head">Boas Vindas!</div>
    <div class="card-body">
        <p>Seja bem vindo ao sistema de notas da escola de programação</p>
    </div>
</div>
<div class="card">
    <div class="card-head">Minhas Notas</div>
    <div class="card-body">
        <p>Veja suas notas aqui!</p>
    </div>
</div>
<div class="card">
    <div class="card-head">Suporte</div>
    <div class="card-body">
        <p>Qualquer dúvida, estamos a disposição!</p>
    </div>
</div>